body {
  /* margin: 0 auto; */
  margin: auto;
  padding: 0px;
  height: 993px;
  /* background-image: linear-gradient(white, rgb(45, 165, 149)); */
  position: initial;
}

/* div.header {
  filter: blur(3px);
} */

h1 {
    text-align: center;
    margin-bottom: 2.5vh;
    font-size: 2.5vh;
    padding: 2px;
    /* transform: translateY(-3vh); */
}
/* 
.fa-info-circle {
  background-color: #79ccc8;
  transform: translateX(68vh);
  padding: 0px;
  margin: 2px;
  margin-top: 6px;
  width: 40px;
  height: 35px;
  font-weight: lighter;
  color: rgb(26, 141, 126);
} */

.close {
  background-color: #79ccc8;
  transform: translateX(71vh);
  padding: 0px;
  margin: 2px;
  margin-top: 2px;
  width: 40px;
  height: 35px;
  font-weight: lighter;
  color: rgb(26, 141, 126);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.subcolumn1 {
  display: flex;
  padding: 10px;
  position: relative;
  left: 70%;
  filter: blur(5px);
}


div.subcolumn {
  width: 80vh;
  max-height: 88vh;
  min-height: fit-content;
  shape-margin: 5vh;
  padding: 20px;
  padding-right:0em;
  background-image: linear-gradient(#79ccc8, #ffffff);
  border-style: solid;
  border-radius: 10px;
  border-width: 0.5px;
  border-color: rgb(6, 138, 120);
  transform: translateX(-10vh);
  margin: auto;
  margin-top: 5px;
  position: absolute;
  left: 36.4%;
  top: 0.5%;
}

div.elem-group {
  margin: 0px;
  transform: translateX(4vh);
  transform: translateY(-1vh);
  margin-left: 14px;
  width: 90%;
  padding: 4px;
}

/* div.elem-group1 {
  margin: 20px;
  width: 60%;
} */

div.elem-group.inlined {
  width: 40%;
  display: inline-block;
  float: none;
}

label {
  display: inline-block;
  font-family: 'Nanum Gothic';
  padding-bottom: 10px;
  font-size: 0.95em;
  margin: 0;
}

.firstname {
  margin-bottom: 8px;
}

input, select, textarea {
  border-radius: 3px;
  border: 1.5px solid rgb(6, 138, 120);
  box-sizing: border-box;
  font-size: 0.9em;
  font-family: 'Nanum Gothic';
  width: 100%;
  height: 30px;
  padding: 10px;
  margin: 0;
}

label[for=bio] {
  position: relative;
  display: flex;
  margin-top: 30px;
  top: 40px;
  right: 35vh;
}

#bio {
  position: relative;
  display: flex;
  top: 40px;
  margin-bottom: 10px;
  min-width: 730%;
  min-width: fit-content;
  height: 65px;
  right: 35vh;
}

.card-details {
  display: flex;
  width: 60%;
}

label[for=card_num] {
  width: 180%;
  padding-right: 0px;
  margin-right: 20px;
}

#card_num {
  width: 190%;
  padding-right: 0px;
  margin-right: 20px;
}

label[for=cvv] {
  position: relative;
  left: 90px;
  margin-right: 10px;
}

#cvv {
  position: relative;
  left: 90px;
  margin-right: 10px;
}

label[for=expiry] {
  position: relative;
  left: 95px;
}

#expiry {
  position: relative;
  left: 95px;
}

div.elem-group.inlined input {
  width: 95%;
  display: inline-block;
  margin: 0;
}

hr {
  border: 1px solid #ccc;
  opacity: 50%;
  margin: 2vh;
  transform: translateY(0vh);
}

button {
  height: 40px;
  width: 100px;
  background: rgb(42, 141, 120);
  border: none;
  color: white;
  font-size: 1.3em;
  font-family: 'Nanum Gothic';
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-top: 4vh;
  margin-bottom: 10px;
  transform: translateX(31.5vh);
  justify-content: center;
  position: absolute;
}

.sub {
  position: relative;
  top: 2vh;
  padding: 10px;
  margin-bottom: 30px;

}

button:hover {
  border: 2px solid rgb(166, 226, 236);
}