body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}
  
.container {
    height: 60px;
    width: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    padding-left: 8vw;
    padding-right: 8vw;
}

.container .logo {
    max-width: 250px;
    padding: 0 10px;
    overflow: hidden;
}

.container .logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    text-decoration: none;
    color: #108882;
    font-size: 14px;
}

.container .logo a img {
    max-width: 100%;
    max-height: 60px;
}

.container .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
    margin-left: 20%;
}

.container .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.container .navbar ul li a {
    text-decoration: none;
    color: #108882;
    font-size: 14px;
    display: block;
    cursor: pointer;
    padding: 10px;
    margin-right: 5px;
}

.container .navbar ul li a:hover {
    border-radius: 5px;
    border: solid 1px #108882;
}

.container .navbar ul li a:active {
    border-radius: 5px;
    border: solid 1px #108882;
}

.container .user{
    max-width: 250px;
    overflow: hidden;
    margin-right: 10%;
    color: #108882;
    font-size: 14px;
}

.disabled-link{
    pointer-events: none;        
    text-decoration: none;
}

.logout-button{
    text-decoration: none;
    background-color: #108882;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px 10px 10px 10px;
    margin-left: 5px;
}

.user span{
    font-size: 16px;
    font-weight: bold;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}
  
  /* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #108882;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0; /* Important for vertical align on mobile phones */
}
  
.dropdown:hover .dropbtn {
    background-color: #108882;
    color: white;
}
  
  /* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
  /* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}