.personal-info-section {
    font-family: poppins;
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.personal-info-section a {
    float: right;
    text-decoration: none;
    background-color: #ca3a1b;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin-right: 20%;
}

.column2 {
    padding-left: 40px;
    padding-bottom: 20px;
    background-image: linear-gradient(#c4e6e4, #dcf8f6);
}

.personal-info-section span {
    font-size: 14px;
    font-family: poppins;
    font-weight: bold;
}

.personal-info-section-content {
    position: relative;
    display: block;
    width: 80%;
    height: 250px;
    background-color: #9ae0dc;
    margin-top: 40px;
    border-radius: 10px;
    padding: 30px 30px 10px 20px;
}

.avatar {
    vertical-align: middle;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 0px;
}

.details {
    float: left;
    display: block;
    position: relative;
    margin-left: 30px;
}

table {
    width: 100%;
}

td,
th {
    text-align: left;
    padding-bottom: 15px;
}

.info-right-column {
    font-size: 14px;
    font-family: poppins;
    color: #007973;
    padding-left: 30px;
}

.info-left-column {
    font-size: 14px;
    font-family: poppins;
    color: black;
    padding-left: 30px;
}

.info-right-column-color {
    font-size: 12px;
    font-family: poppins;
    color: #108882;
}

.info-left-column-color {
    font-size: 12px;
    font-family: poppins;
    color: black;
    padding-left: 30px;
}

.additional-info {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 50px;
}

.additional-info-content {
    display: block;
    position: relative;
    width: 80%;
    background-color: #b7dfe4;
    padding: 20px;
    border-radius: 10px;
}

.billing-info {
    font-size: 14px;
    font-family: poppins;
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 50px;
}

.billing-info-content {
    font-size: 12px;
    font-family: poppins;
    display: block;
    position: relative;
    width: 80%;
    background-color: #aecac8;
    padding: 20px;
    border-radius: 10px;
}

.bio-info {
    font-size: 12px;
    font-family: poppins;
    position: relative;
    display: block;
    width: 100%;
}

.bio-info-content {
    font-size: 12px;
    font-family: poppins;
    display: block;
    position: relative;
    width: 80%;
    background-color: #50b4ac;
    padding: 20px;
    border-radius: 10px;
}

.checked {
    font-size: 14px;
    font-family: poppins;
    color: orange;
}