#topdiv {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #108882;
    padding-top: 3%;
    padding-left: 40%;
    
    
}

#advertisearea {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    background-color: #108882;
    width: 1000px;
    height: 536px;
    position: absolute;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 5%;
}

#subjectid {
    position: absolute;
    width: 832px;
    height: 73px;
    left: 117px;
    top: 41px;
    padding-left: 15px;
    padding-right: 15px;
    background: #FFFCFC;
    outline: none;
    border-radius: 10px;
}

#typeareaid {
    position: absolute;
    width: 832px;
    height: 145px;
    left: 117px;
    top: 156px;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    background: #FFFEFE;
    border-radius: 10px;
}

#uploadid {
    position: absolute;
    width: 505px;
    height: 60px;
    left: 282px;
    top: 338px;
    background: #C92929;
    border-radius: 30px;
    outline: none;
    border: none;
    color: #FFFEFE;
    cursor: pointer;
}

.confirm {
    position: absolute;
    width: 198px;
    height: 49px;
    background: #EAE9E9;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
    outline: none;
}

#save {
    left: 282px;
    top: 440px;
    background: #EAE9E9;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
    cursor: pointer;
}

#discard {
    left: 614px;
    top: 440px;
    background: #EAE9E9;
    border: 1px solid #DD2A2A;
    box-sizing: border-box;
    border-radius: 30px;
    color: #DD2A2A;
    cursor: pointer;
}

.column01 {
    float: left;
    position: relative;
    display: block;
    width: 30%;
    height: 100vh;
}

.column02 {
    width: 50%;
    display: block;
    position: relative;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    margin-left: 100px;
}



.details {
    float: left;
    display: block;
    position: relative;
    margin-left: 30px;
}

#topdiv {
    margin-left: 120px;
}

.custom-file-input {
    padding-top: 350px;
    margin-left: 30px;
    border-radius: 30px;
    cursor: pointer;
}

.label-input-file {
    border-radius: 40px;
    background-image: linear-gradient(to bottom, rgba(255, 13, 13, 0.664), rgb(255, 0, 0));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    margin-top: 500px;
    margin-left: 250px;
    width: 50px;
    font-size: 14px;
    font-style: Poppins;
    cursor: pointer;
}