#chatbox {
    position: absolute;
    width: 365px;
    height: 243px;
    left: 40%;
    top: 30%;
    background: linear-gradient(180deg, #108882 0%, rgba(94, 178, 178, 0.99) 100%);
    border-radius: 20px;
}

#subdiv1 {
    padding-top: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    /*identical to box height, or 171% */
    color: #000000;
}

.confirmbutton {
    position: relative;
    /*width: 117px;
height: 31px;
left: 294px;
top: 284px;*/
    margin-top: 25%;
    margin-left: 15%;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #108882;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: #000000;
    font-family: poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: aliceblue
}

.confirmbutton:hover {
    color: #108882;
    background-color: aliceblue;
    cursor: pointer;
}

.bottom {
    margin-top: 400px;
}