    .row {
        display: flex;
    }
    
    .column {
        float: left;
        flex: 50%;
        height: 390px;
        width: 1750px;
    }
    
    .sub-column01 {
        width: 440px;
    }
    
    .sub-column02 {
        width: 440px;
        background-color: rgb(255, 255, 255);
    }
    
    .image-left {
        margin-top: 230px;
        width: 420px;
        height: 390px;
    }
    
    #topic-area {
        font-weight: bold;
        margin-top: 140px;
        margin-bottom: 40px;
    }
    
    .title {
        padding: 10px;
        width: 440px;
        background-color: #B4e1e7;
        margin-bottom: 20px;
        border: none;
        outline: none;
    }
    
    .name {
        margin-right: 15px;
        width: 190px;
        padding: 10px;
        background-color: #B4e1e7;
        border: none;
        outline: none;
    }
    
    .Email {
        width: 230px;
        padding: 10px;
        background-color: #B4e1e7;
        border: none;
        outline: none;
    }
    
    .address {
        margin-top: 20px;
        margin-right: 15px;
        width: 350px;
        padding: 10px;
        background-color: #B4e1e7;
        border: none;
        outline: none;
    }
    
    .zipcode {
        margin-top: 20px;
        width: 70px;
        padding: 10px;
        background-color: #B4e1e7;
        border: none;
        outline: none;
    }
    
    .image {
        margin-top: 20px;
        margin-right: 15px;
        width: 270px;
        padding: 10px;
        background-color: white;
        border: 2px solid #108882;
        outline: none;
    }
    
    .district {
        margin-top: 20px;
        width: 150px;
        padding: 10px;
        background-color: #B4e1e7;
        border: none;
        outline: none;
    }
    
    .description {
        margin-top: 20px;
        width: 440px;
        height: 220px;
        padding: 10px;
        background-color: #B4e1e7;
        border: none;
        outline: none;
    }
    
    .postad-confirm,
    .postad-cancel {
        float: right;
        color: #108882;
        margin-top: 40px;
        margin-right: 20px;
        width: 120px;
        padding: 10px;
        background-color: white;
        border: 2px solid #108882;
        outline: none;
    }
    
    .postad-cancel:hover,
    .postad-confirm:hover {
        background-color: #108882;
        color: #ffffff;
    }