.row {
    display: flex;
}

#topic {
    font-family: 'Lobster', cursive;
    font-size: 55px;
    color: rgb(25, 112, 108)
}

.columnsub1 {
    float: left;
    flex: 50%;
}

.left {
    width: 30%
}

.right {
    width: 50%;
}

#chatbox {
    margin-top: 80px;
    position: absolute;
    width: 365px;
    height: 283px;
    left: 60%;
    top: 20%;
    border: 6px solid #108882;
    /* background: linear-gradient(180deg, #108882 0%, rgba(94, 178, 178, 0.99) 100%); */
    border-radius: 20px;
}

.img-left {
    margin-top: 80px;
    width: 360px;
    height: 280px;
}

#subdiv1 {
    padding-top: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    /*identical to box height, or 171% */
    color: #108882;
}

.confirmbutton {
    position: relative;
    margin-top: 36%;
    margin-left: 12%;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #108882;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-color: #000000;
    font-family: poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: aliceblue
}

.confirmbutton:hover {
    color: #108882;
    background-color: aliceblue;
    cursor: pointer;
}

#username {
    position: absolute;
    width: 242px;
    height: 30px;
    padding: 10px;
    margin-top: 5%;
    margin-left: 10%;
    background-color: #96c0ae;
    border: none;
    font-weight: bold;
    color: #000000;
    outline: none;
}

.input2 {
    position: absolute;
    width: 242px;
    height: 30px;
    padding: 10px;
    margin-top: 18%;
    margin-left: 10%;
    background: #96c0ae;
    border: none;
    font-weight: bold;
    color: #000000;
    outline: none;
}

#bottom {
    margin-top: 400px;
}