#chatbox {
    margin-left: 200px;
    margin-top: 80px;
    margin-bottom: 20px;
    width: 365px;
    height: 243px;
    top: 30%;
    background: linear-gradient(180deg, #43c0ba 0%, rgba(188, 241, 241, 0.99) 100%);
    border-radius: 20px;
}

.btn-okay {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.btn-okay:hover {
    color: rgb(27, 65, 59);
}

#subdiv1 {
    padding-top: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    /*identical to box height, or 171% */
    color: #000000;
}

.bodywrapper {
    background-image: linear-gradient(to-bottom, rgb(162, 218, 240), rgb(171, 218, 224));
}

.confirmbutton {
    position: relative;
    margin-top: 25%;
    margin-left: 36%;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #108882;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: #000000;
    font-family: poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: aliceblue
}

.confirmbutton:hover {
    color: #108882;
    background-color: aliceblue;
    cursor: pointer;
}

.bottom {
    margin-top: 400px;
}