.sub-column02 {
    border: 8px solid #108882;
    border-radius: 20px;
}

.row {
    display: flex;
}

.column {
    float: left;
    flex: 50%;
    height: 390px;
    width: 1750px;
}

.sub-column01 {
    width: 440px;
    height: 800px;
}

.sub-column02 {
    width: 440px;
    background-color: rgb(255, 255, 255);
}

.image-left {
    margin-top: 230px;
    width: 420px;
    height: 390px;
}

.logoimage {
    margin-top: 50px;
    margin-left: 30px;
    width: 370px;
    height: 120px;
}

#topic-area {
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
}

.cardnumber {
    padding: 10px;
    width: 210px;
    background-color: #B4e1e7;
    margin-bottom: 20px;
    border: none;
    outline: none;
    margin-left: 20px;
}

.date {
    margin-right: 15px;
    width: 150px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #B4e1e7;
    border: none;
    outline: none;
    margin-left: 20px;
}

.name {
    width: 290px;
    padding: 10px;
    background-color: #B4e1e7;
    margin-bottom: 20px;
    border: none;
    outline: none;
    margin-left: 20px;
}

.cvv {
    margin-top: 20px;
    width: 70px;
    padding: 10px;
    background-color: #B4e1e7;
    margin-bottom: 20px;
    border: none;
    outline: none;
    margin-left: 20px;
}

.postad-confirm,
.postad-cancel {
    float: right;
    color: #108882;
    margin-top: 20px;
    margin-right: 20px;
    width: 120px;
    padding: 10px;
    background-color: white;
    border: 2px solid #108882;
    outline: none;
}

.pricead {
    margin-top: 10px;
    margin-left: 90px;
    width: 270px;
    height: 60px;
}

.postad-cancel:hover,
.postad-confirm:hover {
    background-color: #108882;
    color: #ffffff;
}