.search-container{
    width: 100%;
    position: absolute;

}

h1 {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.search-container input[type=text] {
    width: 863px;
    height: 46px;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    background-color:  rgba(16, 136, 130, 0.37);
    border-radius: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;  
}

.search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.sortinglist{
    margin-top: 8%;
    margin-right: 15%;
    width: 100%;
}

.subrow{
    box-sizing: border-box;
    margin-top: 5%;
    width: 100%;
}
  
  /* Create three equal columns that floats next to each other */
.subcolumn1{
    float: left;
    width: 20%;
    padding: 10px;
    height: 250px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #B4E1E7; /* Should be removed. Only for demonstration */
}

.adimage{
    margin-top: 30px;
    margin-left: 5px;
}

.subcolumn2{
    float: left;
    width: 30%;
    padding: 10px;
    height: 250px;
    background-color: #B4E1E7;  /* Should be removed. Only for demonstration */
}

.postedby{
    margin-top: 30px;
    margin-left: 5px;
}


.subcolumn3 {
    float: left;
    width: 50%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    height: 250px;
    background-color: #B4E1E7;  /* Should be removed. Only for demonstration */
}

.details{
    margin-top: 30px;
    margin-left: 5px;
}


.subrow:after {
    content: "";
    display: table;
    clear: both;
}

.sortinglist label{
    font-family: Poppins; 
    font-style: normal; 
    font-size: 18px; 
    color:#108882;
}

.sortinglist select{
    background: #108882; 
    color: white; 
    width: 187px; 
    height: 38px; 
    border-radius: 5px;
}

.field{
    font-family: Roboto; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 18px; 
    line-height: 21px; 
    color:#61687F;
}

.special-field{
    font-family: Poppins; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 18px; 
    line-height: 27px; 
    color:#108882;
}

.description{
    color:#61687F; 
    font-family: Roboto; 
    font-style: normal; 
    font-size: 18px; 
    line-height: 21px;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #108882;
    color: white;
  }

    /* Center 4th column */
    table td:nth-child(4) {
        text-align: center;
    }
    /* Center 5th column */
    table td:nth-child(5) {
        text-align: center;
    }

  .ProfileButton {
    background-color: #f05d27;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  .AddNewButton {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }